.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding-left: 15px;
    padding-right: 5px;
}

.bio {
    max-width: 500px;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 18px;
}

h1 i {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: normal;
}

em {
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.animation {
    display: inline-block;
    animation: waving 2s infinite;
    transform-origin: 70% 70%;
}

p {
    display: inline;
}

img {
    max-width: 288px;
    height: auto;
    border-radius: 100%;
    margin-left: 2%;
}

@media (max-width: 768px) {
    img {
        max-width: 40vw;
    }
}

@keyframes waving {
    0% {
        transform: rotate(0.0deg);
    }
    10% {
        transform: rotate(14.0deg);
    }
    20% {
        transform: rotate(-8.0deg);
    }
    30% {
        transform: rotate(14.0deg);
    }
    40% {
        transform: rotate(-4.0deg);
    }
    50% {
        transform: rotate(10.0deg);
    }
    60% {
        transform: rotate(0.0deg);
    }
    100% {
        transform: rotate(0.0deg);
    }
}